/* COMMON */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
    box-sizing: border-box;
}
html,
body {
    font-size: 14px;
}
body {
    font-family: Roboto, sans-serif;
    color: #333;
    margin: 0;
    background: linear-gradient(#f289e0,#2a5076);
    text-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

/* END COMMON */

/* LAYOUT */
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    padding: 2em 0 0;
}
/* LAYOUT */

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    color: #fff;
    /* background-color: #ffe4c7; */
}
header .container{
    justify-content: space-between;
}
.logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}
.onboarding {
    display: flex;
}
.onboarding * {
    padding: 0.25em;
    transition: all 0.3s ease;
}
.onboarding *:hover{
    color: #000;
    cursor: pointer;
}
/* END HEADER */

/* MENU */
nav .container{
    background-color: rgba(255,255,255,.3);
    border-radius: 12px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
    padding: .75em 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
nav .container {
    justify-content: center;
}
.main-menu a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    display: block;
    font-size: 1rem;
    transition: all 0.3s ease;
    margin: 0 5px;
    
    border-radius: 32px;
}
.active a,
.main-menu a:hover {
    background-color: rgba(255,255,255,.5);
    color: #000;
}
/* END MENU */

/* ASIDE */
aside {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

aside .cate{
    padding: 0.5em;
    background-color: rgba(255,255,255,.2);
    margin-bottom: 0.5em;
    border-radius: 18px;
    text-align: center;
    transition: all 0.3s ease;
    color: #fff;
    cursor: pointer;
}

aside .cate:hover, .cate.active{
    background-color: rgba(255,255,255,.5);
    color: #000;
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}

/* END ASIDE */

/* MAIN CONTENT */
.main-content {
    flex: 3;
}
.separate{
    width: 1rem;
}
.article{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,.5);
    border-radius: 8px;
    transition: all 0.3s ease;
    /* border-radius: 24px; */
}
.article:hover{
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
}
.article.first{
    flex-direction: row;
    margin-bottom: 1em;
}
.article img{
    display: block;
    /* flex: 1; */
    border-radius: 8px 8px 0 0;
    /* border-radius: 24px 0 0 24px; */
}
.article-body{
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.article.first > *{
    width: 50%;
}
.article.first img{
    border-radius: 8px 0 0 8px;
}
.article-body .content {
    flex-grow: 1;
}
.article-body .footer{
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    color: #666;
}
.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.row .article{
    width: 32%;
}
/* END MAIN CONTENT */

/* EXTRA CONTENT */
/* END EXTRA CONTENT */

/* FOOTER */
footer .container{
    color: #fff;
    text-align: center;
    justify-content: center;
    padding: 0.5rem;
}
/* END FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 767px) {
}
@media screen and (max-width: 576px) {
}
/* END RESPONSIVE */
